extends ../../layouts/layout_main.pug
block container
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2 Plantilla para carga masiva de compromisos
          ul.nav.navbar-right.panel_toolbox
          .clearfix
        .x_content
          p(style='text-align: justify') Para realizar la carga masiva debe descargar la plantilla que se ha generado de acuerdo a las configuraciones iniciales que ha escogido durante el wizard de configuración inicial. Para modificar los campos del excel puede ir a configuración de atributos y seleccionar los campos que se mostrarán.
          a.btn.btn-success.btn-xs(href='/secure/committemplate')
            i.fa.fa-download
            |  Descargar Plantilla
          a.btn.btn-info.btn-xs(href='/secure/commitconfigattr')
            i.fa.fa-gear
            |  Configuración de Atributos

      .x_panel
        .x_title
          h2 Formulario de carga masiva de compromisos
          ul.nav.navbar-right.panel_toolbox
          .clearfix
        .x_content
          p(style='text-align: justify') Cargue la plantilla de compromisos que descargó previamente con la información de todos sus compromisos.
          form#frmcommitmasive.form-horizontal(action='uploadcomtemplate',method='post',enctype='multipart/form-data')
            .row
              .col-md-12.col-sm-12.col-xs-12
                #carga
                  input#template.inputfile.inputfile-6(type='file',name='template')
                  label(for='template',width='100%')
                    span
                    strong
                      i.fa.fa-upload
                      |  Cargar Plantilla
            .ln_solid
            .row
              .col-md-2.col-sm-3.col-xs-12
                button.btn.btn-success.btn-xs(type='submit') Realizar carga masiva
              #pbcontainer.col-md-10.col-sm-9.col-xs-12(style='display: none')
                .progress(style='border-radius: 4px;margin-bottom: 0')
                  #progressbar.progress-bar.progress-bar-success(role="progressbar",style="width: 0%",aria-valuenow="0",aria-valuemin="0",aria-valuemax="100") Progreso 0%
