extends ../../layouts/layout_main.pug
block container
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2 Listado de Compromisos
          .clearfix
        .x_content
          table#tblcommitments.table.table-striped.table-bordered.jambo_table
            thead
              tr
                each conf in comconfig
                  th #{conf.name}
            tbody
              //-each commitment in commitments
                tr
                  each column in comconfig
                    td #{commitment[column.columnasoc]}
                  td
                    table
                      tr
                        td
                          a.btn.btn-primary.btn-xs(href='commitdetail/' + commitment.nrocorrelativo)
                            i.fa.fa-folder
                            |  Ver
                        td
                          a.btn.btn-info.btn-xs(href='commitedit/' + commitment.nrocorrelativo)
                            i.fa.fa-pencil
                            |  Editar
                        td
                          a.btn.btn-danger.btn-xs(href='javascript:deletecommit("' + commitment.nrocorrelativo + '")')
                            i.fa.fa-trash-o
                            |  Eliminar
          .ln_solid(style='margin-top:5px')
          a.btn.btn-warning.btn-xs(href='/secure/commitregister') Nuevo Compromiso
          #exportbuttons.pull-right
            | Exportar: 
            a.btn.btn-default.btn-xs(href='#') Excel

    script.
      window.onload = function() {
        var columns = !{columns};
        var table = $('#tblcommitments').DataTable({
          scrollX: true,
          ajax:'/secure/commitlistrest',
          deferRender: true,
          columns: columns,
          columnDefs: [{
            targets: '_all',
            render: function ( data, type, row, meta ) {
              return (data == null) ? '' : '<a href="/secure/commitdetail/' + row.nrocorrelativo + '">' + data + '</a>';
            }
          }],
          lengthMenu: [[5, 15], [5, 15]],
          language: {
            paginate: {
                first:    'Inicio',
                previous: 'Anterior',
                next:     'Siguiente',
                last:     'Fin'
            },
            info: 'Mostrando _START_ a _END_ de _TOTAL_ registro(s)',
            infoEmpty: 'No se encontraron registros',
            emptyTable: 'No tiene compromisos registrados',
            lengthMenu: 'Mostrar _MENU_ registro(s)',
            search: 'Buscar:',
            searchPlaceholder: 'Ejm, Abierto',
            zeroRecords: 'No se encontraron registros coincidentes',
            loadingRecords: 'Cargando Registros ...'
          }
        });
        /*$('#tblcommitments tbody').on('click','tr',function(){
          if($(this).hasClass('selected')){
            $(this).removeClass('selected');
          } else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
          }
        });*/
      }