extends ../../layouts/layout_main.pug
block container
  .row
    .col-md-12
      .x_panel
        .x_title
          h2 Listado de Compromisos
          .clearfix
        .x_content
          table#tblcommitments.table.table-striped.table-bordered.jambo_table
            thead
              tr
                each conf in comconfig
                  th #{conf.name}
            tbody
              each commitment in commitments
                tr
                  each column in comconfig
                    td #{commitment[column.columnasoc]}
          br
          br
          .ln_solid(style='margin-top:5px')
          a.btn.btn-warning.btn-xs(href='/secure/register') Nuevo Compromiso

    script.
      window.onload = function() {
        $('#tblcommitments').DataTable({
          //dom: 'Bfrtip',
          //buttons: ['copy','csv','print'],
          lengthMenu: [[5, 15], [5, 15]],
          language: {
            paginate: {
                first:    'Inicio',
                previous: 'Anterior',
                next:     'Siguiente',
                last:     'Fin'
            },
            info: 'Mostrando _START_ a _END_ de _TOTAL_ registro(s)',
            infoEmpty: 'No se encontraron registros',
            emptyTable: 'No tiene compromisos registrados',
            lengthMenu: 'Mostrar _MENU_ registro(s)',
            search: 'Buscar:',
            zeroRecords: 'No se encontraron registros coincidentes'
          }
        });
      }