extends ../../layouts/layout_main.pug
block container
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2 Cuadro Informativo
          ul.nav.navbar-right.panel_toolbox
          .clearfix
        .x_content
          form.form-horizontal(action='upload',method='post',enctype='multipart/form-data')
            .row
              .col-md-12.col-sm-12.col-xs-12
                input#template.inputfile.inputfile-6(type='file',name='evidencias',data-multiple-caption='{count} archivos seleccionados',multiple)
                label(for='template',width='100%')
                  span
                  strong
                    i.fa.fa-upload
                    |  Seleccionar
            .ln_solid
            .form-group
              button.btn.btn-success.btn-sm.pull-right(type='submit') Subir
          br
          table.table.table-striped
            thead
              tr
                th Archivo
                th Acción
            tbody
              each file in files
                tr
                  td #{file.name}
                  td
                    a.btn.btn-success.btn-sm(href='/secure/downloadevidence/' + file.name) Descargar Archivo