extends ./layout.pug
block container
  section.content-header
    h1 ¡Bienvenido a PARM!
    //-section.content
      .row
        .col-md-12
          .box.box-solid
            .box-body
              dl
                dt Descripción
                dd Descripción de PARM
                dt JFK Asociados
                dd Descripción de JFK Asociados
                dt Versión
                dd V 1.1
  section.content
    if session.usuario.ESTADO == 4
      .alert.alert-warning.alert-dismissible
        button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
        i.icon.fa.fa-lock
        |  Esta cuenta ha sido bloqueada por falta de pago, por favor contactar con el personal de soporte para proceder con el desbloqueo de la cuenta.
    p(style='width:98%') PARM es la plataforma de reclutamiento automático diseñada para agilizar el proceso de selección de personal, automatizando las comunicaciones para realizar convocatorias de personal de forma masiva, ágil y segura; aportando visibilidad para poder realizar un mejor seguimiento.