extends ./layout.pug
block container
  section.content-header
    h1
      | Bienvenido a PARM
    ol.breadcrumb
      li
        a(href='#')
          i.fa.fa-dashboard
          |  Level
      li.active Here
  section.content
    .row
      .col-md-12
        .box.box-solid
          .box-body
            dl
              dt Descripci贸n
              dd Descripci贸n de PARM
              dt JFK Asociados
              dd Descripci贸n de JFK Asociados
              dt Versi贸n
              dd V 1.1
