extends ../../layouts/layout_admin.pug
block container
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2 Cartera de Clientes
          .clearfix
        .x_content
          table#tblclients.table.table-striped.table-bordered.jambo_table(width='100% ')
            thead
              tr
                th RUC
                th Nombre de Cliente
                th Cantidad de Usuarios
                th Configuración Inicial
                th Fecha de Registro
            tbody

          .ln_solid(style='margin-top:5px')
          a.btn.btn-warning.btn-xs(href='/admin/clientcreate') Nuevo Cliente

    script.
      window.onload = function() {
        $('#tblclients').DataTable({
          scrollX: true,
          ajax:'/admin/clientlistrest',
          deferRender: true,
          columns: [
            {data:'ruc'},
            {data:'companyname'},
            {data:'users'},
            {
              data:'firsttime',
              render:function( data, type, row, meta ){
                if(data == '0') {
                  return '<span class="label label-success">Completo</span>';
                } else {
                  return '<span class="label label-warning">Incompleto</span>';
                }
              }
            },
            {data:'cdatetime'}
          ],
          columnDefs: [{
            targets: '_all',
            render: function ( data, type, row, meta ) {
              return (data == null) ? '' : '<a href="/admin/clientdetail/' + row.ruc + '">' + data + '</a>';
            }
          }],
          lengthMenu: [[5, 15], [5, 15]],
          language: {
            paginate: {
                first:    'Inicio',
                previous: 'Anterior',
                next:     'Siguiente',
                last:     'Fin'
            },
            info: 'Mostrando _START_ a _END_ de _TOTAL_ registro(s)',
            infoEmpty: 'No se encontraron registros',
            emptyTable: 'No tiene compromisos registrados',
            lengthMenu: 'Mostrar _MENU_ registro(s)',
            search: 'Buscar:',
            searchPlaceholder: 'Ejm, Abierto',
            zeroRecords: 'No se encontraron registros coincidentes',
            loadingRecords: 'Cargando Registros ...'
          }
        });
      }
      var deleteClient = function(ruc, companyname) {
        $('#comfirm_delete_title').text('Eliminar Cliente ' + companyname);
        $('#frmConfirmDelete input[name=ruc]').val(ruc);
        $('#confirm_delete').modal('show');
      }
      