extends ../../layouts/layout_main.pug
block container
  .row
    .col-md-12
      .x_panel
        .x_title
          h2 Listado de monitoreo
          .clearfix
        .x_content
          table#tblmonitor.table.table-striped.table-bordered.jambo_table
            thead
              tr
                each conf in monitconfig
                  th #{conf.name}
                th Opciones
            tbody
              each monitor in monitors
                tr
                  each column in monitconfig
                    td #{monitor[column.columnasoc]}
                  td
                    table
                      tr
                        td
                          a.btn.btn-primary.btn-xs(href='monitdetail/' + monitor.nrocorrelativo)
                            i.fa.fa-folder
                            |  Ver
                        td
                          a.btn.btn-info.btn-xs(href='monitedit/' + monitor.nrocorrelativo)
                            i.fa.fa-pencil
                            |  Editar
                        td
                          a.btn.btn-danger.btn-xs(href='javascript:deletemonitor("' + monitor.nrocorrelativo + '")')
                            i.fa.fa-trash-o
                            |  Eliminar
          .ln_solid(style='margin-top:5px')
          a.btn.btn-warning.btn-xs(href='/secure/registermonit') Nuevo Monitoreo

    #confirm_delete.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', data-keyboard='false')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            //-button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4#comfirm_delete_title.modal-title
          form#frmConfirmDelete(action='/secure/deletemonitor',method='post')
            .modal-body
              p Esta acción eliminará el monitoreo seleccionado
              center
                strong ¿Desea continuar?
              input(type='hidden',name='nrocorrelativo')
            .modal-footer
              button.btn.btn-default.pull-left(type='button', data-dismiss='modal') Cancelar
              |  
              button.btn.btn-danger(type='submit') Continuar
    script.
      window.onload = function() {
        $('#tblmonitor').DataTable({
          //dom: 'Bfrtip',
          //buttons: ['copy','csv','print'],
          lengthMenu: [[5, 15], [5, 15]],
          language: {
            paginate: {
                first:    'Inicio',
                previous: 'Anterior',
                next:     'Siguiente',
                last:     'Fin'
            },
            info: 'Mostrando _START_ a _END_ de _TOTAL_ registro(s)',
            infoEmpty: 'No se encontraron registros',
            emptyTable: 'No se encontraron registros',
            lengthMenu: 'Mostrar _MENU_ registro(s)',
            search: 'Buscar:',
            zeroRecords: 'No se encontraron registros coincidentes'
          }
        });
      }
      var deletemonitor = function(nrocorrelativo) {
        $('#comfirm_delete_title').text('Eliminar monitoreo con nro correlativo  ' + nrocorrelativo);
        $('#frmConfirmDelete input[name=nrocorrelativo]').val(nrocorrelativo);
        $('#confirm_delete').modal('show');
      }