extends ../../layouts/layout_main.pug
block container
  .page-title
    .title_left
      h3 Regisro de Monitoreo
  .clearfix
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2 Cuadro Informativo
          ul.nav.navbar-right.panel_toolbox
          .clearfix
        .x_content
          | En esta sección agregamos contenido o agregamos charts...