doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title N O L A N 
    // Bootstrap
    link(href='/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Fonts
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet')
    // NProgress
    link(href='/nprogress/nprogress.css', rel='stylesheet')
    // Custom Theme Style
    link(href='/build/css/custom.min.css', rel='stylesheet')
    style.
      .sticky-image-wrapper{
        position: fixed;
        bottom: 0;
        width: 100%;
      }

      .sticky-image-wrapper img{
        display: table;
        position: relative;
        margin: auto;
      }
  body.login
    .login_wrapper
      .animate.form.login_form
        section.login_content
          form#frmChangePwd(method='POST',action='/changepwd', style='margin-top:0px')
            img(src='/nolan/img/nolan.png', width=350)
            br
            br
            center
              div(style='width:98%')
                input(type='hidden',name='userid',value=userid)
                input#password.form-control(type='password', placeholder='Contrase単a actual', name='password')
                input#newpassword.form-control(type='password', placeholder='Nueva contrase単a', name='newpassword')
                input.form-control(type='password', placeholder='Confirmar nueva contrase単a', name='retype_newpassword')
            br
            button.btn.btn-default.submit(type='submit') Cambiar Contrase単a
            .clearfix
    .sticky-image-wrapper
      img(src='/nolan/img/adelaide.png', width=350)
    // jQuery
    script(src='/jquery/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js')
    script(src='/nolan/js/nolan.js')
    script(src='/nolan/js/jquery.backstretch.min.js')
    script.
      $.backstretch('/nolan/img/background.png', {fade: 700});