doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title N O L A N 
    // Bootstrap
    link(href='../bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='../font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // NProgress
    link(href='../nprogress/nprogress.css', rel='stylesheet')
    // Custom Theme Style
    link(href='../build/css/custom.min.css', rel='stylesheet')
    style.
      .sticky-image-wrapper{
        position: fixed;
        bottom: 0;
        width: 100%;
      }

      .sticky-image-wrapper img{
        display: table;
        position: relative;
        margin: auto;
      }
  body.login
    div
      .login_wrapper(style='max-width:700px')
        .form.login_form
          section.login_content
            h2(style='color: green') #{msg.title}
            p #{msg.body}
            .clearfix
            .separator
              p.change_link
                a.to_register(href='/') Iniciar Sesión
              .clearfix
      .sticky-image-wrapper
        img(src='compromisos/img/adelaide.png', width=350)
    script(src='/jquery/dist/jquery.min.js')
    script(src='compromisos/js/jquery.backstretch.min.js')
    script.
      $.backstretch('/compromisos/img/background.png', {fade: 700});
