doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title N O L A N 
    // Bootstrap
    link(href='/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // NProgress
    link(href='/nprogress/nprogress.css', rel='stylesheet')
    // Custom Theme Style
    link(href='/build/css/custom.min.css', rel='stylesheet')
  body.login
    div
      .login_wrapper
        .animate.form.login_form
          section.login_content
            form#frmResetpwd(method='POST',action='/resetpwd')
              h1 
                |  Cambio de Clave
              center
                input.form-control(type='text', placeholder='UserID', name='userid')
                //input.form-control(type='email', placeholder='Correo Electrónico', name='email')
              br
              button.btn.btn-default.submit(type='submit') Enviar
              .clearfix
              .separator
                p.change_link
                  | Regresar a 
                  a.to_register(href='/') Iniciar Sesión
                .clearfix
    // jQuery
    script(src='/jquery/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js')
    script(src='compromisos/js/compromisos.js')
    script(src='compromisos/js/jquery.backstretch.min.js')
