doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Mis Compromisos 
    // Bootstrap
    link(href='../bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='../font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // NProgress
    link(href='../nprogress/nprogress.css', rel='stylesheet')
    // Custom Theme Style
    link(href='../build/css/custom.min.css', rel='stylesheet')
  body.login
    div
      .login_wrapper
        .animate.form.login_form
          section.login_content
            form#frmSignup(method='POST',action='/signup')
              h1 
                |  Crear una Cuenta
              h4 Información General
              div
                input.form-control(type='text', placeholder='RUC', name='ruc')
              div
                input.form-control(type='text', placeholder='Razón Social', name='companyname')
              div
                input.form-control(type='email', placeholder='Correo Electrónico', name='email')
              h4 Información de Usuario
              div
                input.form-control(type='text', placeholder='ID de Usuario', name='userid')
              div
                input.form-control(type='password', placeholder='Contraseña', name='password')
              div
                input.form-control(type='password', placeholder='Reingrese Contraseña', name='password2')
              div
                button.btn.btn-default.submit(type='submit') Registrar
              .clearfix
              .separator
                p.change_link
                  | Ya tiene una cuenta?
                  a.to_register(href='/')  Iniciar Sesión
                .clearfix
    // jQuery
    script(src='../jquery/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js')
    script(src='compromisos/compromisos.js')                     