extends ../layouts/layout_main.pug
block container
  .page-title
    .title_left
      h3 Editar atributos de compromisos
  .clearfix
  .row
    .col-md-6.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2 Atributos
          .clearfix
        .x_content
          center
            table#datatable-responsive.table.dt-responsive.nowrap(cellspacing='0', width='50%')
              tr
                td(width='10%')
                  label(for='global') C贸digo global
                td(width='10%')
                  input#global.flat(type='checkbox', value='global', name='compromisos')
                td(width='10%') 
                  label(for='asociado') Aspecto asociado
                td(width='10%')
                  input#asociado.flat(type='checkbox', value='asociado', name='compromisos')
              tr
                td(width='10%')
                  label(for='unidad') Unidad
                td(width='10%')
                  input#unidad.flat(type='checkbox', value='unidad', name='compromisos')
                td(width='10%') 
                  label(for='instcomp') Instalaci贸n/componente
                td(width='10%')
                  input#instcomp.flat(type='checkbox', value='instcomp', name='compromisos')
    .col-md-6.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2 Etapas
          .clearfix
        .x_content
          table#datatable.table.dt-responsive.nowrap(cellspacing='0', width='60%')
            tr
              td(width='10%')
                label(for='contruccion') Contrucci贸n
              td(width='10%')
                input#contruccion.flat(type='checkbox', value='contruccion', name='etapascompromiso')
              td(width='10%') 
                label(for='operacion') Operaci贸n
              td(width='10%')
                input#operacion.flat(type='checkbox', value='operacion', name='etapascompromiso')
              td(width='10%') 
                label(for='cierre') Cierre
              td(width='10%')
                input#cierre.flat(type='checkbox', value='cierre', name='etapascompromiso')
              td(width='10%') 
                label(for='postcierre') Post-cierre
              td(width='10%')
                input#postcierre.flat(type='checkbox', value='postcierre', name='etapascompromiso')
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_content
          .form-group.pull-right
            button.btn.btn-primary(type='submit') Cancel
            button.btn.btn-success(type='submit') Submit
