extends ../layouts/layout_main.pug
block container
  .page-title
    .title_left
      h3 Compromisos - home
    .title_right
      .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
  .clearfix
  .row
    .col-md-12.col-sm-12.col-xs-12