extends ../layouts/layout_main.pug
block container
  .row
    .col-md-12
      .x_panel
        .x_title
          h2 Listado de monitoreo
          ul.nav.navbar-right.panel_toolbox
          .clearfix
        .x_content
          table#tblmonitor.table.table-striped.table-bordered.jambo_table
            thead
              tr
                each conf in monitconfig
                  th #{conf.name}
            tbody
          .ln_solid(style='margin-top:5px')
          a.btn.btn-warning.btn-xs(href='/secure/registermonit') Nuevo monitoreo

    script.
      window.onload = function() {
        $('#tblmonitor').DataTable({
          "lengthMenu": [[5, 15], [5, 15]],
          language: {
            paginate: {
                first:    'Inicio',
                previous: 'Anterior',
                next:     'Siguiente',
                last:     'Fin'
            },
            info: 'Mostrando _START_ a _END_ de _TOTAL_ registro(s)',
            infoEmpty: 'No se encontraron registros',
            emptyTable: 'No se encontraron registros',
            lengthMenu: 'Mostrar _MENU_ registro(s)',
            search: 'Buscar:',
            zeroRecords: 'No se encontraron registros coincidentes'
          }
        });
      }