extends ../layouts/layout_main.pug
block container
  head
  body.nav-md
    div
      .page-title
        .title_left
          h3 Carga masiva de monitoreo 
      .clearfix
      .row
        .col-md-12.col-sm-12.col-xs-12
          .x_panel
            .x_title
              h2 Carga de excel
              ul.nav.navbar-right.panel_toolbox
              .clearfix
            .x_content
              p
              br
