doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Mis Compromisos!
    // Bootstrap
    link(href='/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // NProgress
    link(href='/nprogress/nprogress.css', rel='stylesheet')
    // Custom Theme Style
    link(href='/build/css/custom.min.css', rel='stylesheet')
  body.nav-md
    .container.body
      .main_container
        .col-md-3.left_col
          .left_col.scroll-view
            .navbar.nav_title(style='border: 0;')
              a.site_title(href='/secure/listall')
                i.glyphicon.glyphicon-list-alt
                span Mis Compromisos!
            .clearfix
            // menu profile quick info
            .profile.clearfix
              .profile_pic
                img.img-circle.profile_img(src='/images/img.jpg', alt='...')
              .profile_info
                span Bienvenido,
                h2 #{session.user.name}
              .clearfix
            // /menu profile quick info
            br
            // sidebar menu
            #sidebar-menu.main_menu_side.hidden-print.main_menu
              .menu_section
                h3 General
                ul.nav.side-menu
                  li
                    a
                      i.fa.fa-home
                      |  Dashboard 
                      span.fa.fa-chevron-down
                    ul.nav.child_menu
                      li
                        a(href='dashboard') Dashboard
                  li
                    a
                      i.fa.fa-edit
                      |  Adminstración 
                      span.fa.fa-chevron-down
                    ul.nav.child_menu
                      li
                        a(href='register') Registrar compromiso
                      li
                        a(href='listall') Mis compromisos
                      li
                        a(href='massive') Carga masiva
            // /sidebar menu
            // /menu footer buttons
            .sidebar-footer.hidden-small
              a(data-toggle='tooltip', data-placement='top', title='Inicio', href='/secure/home')
                span.glyphicon.glyphicon-home(aria-hidden='true')
              a(data-toggle='tooltip', data-placement='top', title='Compromisos', href='/secure/listall')
                span.glyphicon.glyphicon-list-alt(aria-hidden='true')
              a(data-toggle='tooltip', data-placement='top', title='Usuarios', href='/secure/admin/users')
                span.glyphicon.glyphicon-user(aria-hidden='true')
              a(data-toggle='tooltip', data-placement='top', title='Logout', href='javascript:logout()')
                span.glyphicon.glyphicon-off(aria-hidden='true')
            // /menu footer buttons
        // top navigation
        .top_nav
          .nav_menu
            nav
              .nav.toggle
                a#menu_toggle
                  i.fa.fa-bars
              ul.nav.navbar-nav.navbar-right
                li
                  a.user-profile.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='false')
                    img(src='/images/img.jpg', alt='')
                    | #{session.user.name} 
                    span.fa.fa-angle-down
                  ul.dropdown-menu.dropdown-usermenu.pull-right
                    li
                      a(href='javascript:logout()')
                        i.fa.fa-sign-out.pull-right
                        |  Log Out
        // /top navigation
        // page content
        .right_col(role='main')
          block container
        // /page content
        // footer content
        footer
          .pull-right
            | Plataforma de Compromisos - Todos los derechos reservados
          .clearfix
        // /footer content
    #confirm_logout.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', data-keyboard='false')
      .modal-dialog.modal-sm(role='document')
        .modal-content
          .modal-header
            //button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4.modal-title Cerrar Sesión
          .modal-body
            center
              p ¿Continuar con el cierre de sesión?
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
            |  
            a.btn.btn-dark(href='/secure/logout') Continuar
    //Configuración inicial
    #config_init.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', data-keyboard='false')
      .modal-dialog.modal-lg(role='document')
        .modal-content
          .modal-header
            center 
              h4.modal-title Wizard de configuración de compromisos y monitoreo
          .modal-body
            // Smart Wizard
            p
              | Realice las configuraciones iniciales.
            #wizard.form_wizard.wizard_horizontal
              ul.wizard_steps
                li
                  a(href='#step-1')
                    span.step_no 1
                    span.step_descr
                      | Paso 1
                      br
                      small Encabezados
                li
                  a(href='#step-2')
                    span.step_no 2
                    span.step_descr
                      | Paso 2
                      br
                      small Dashboard de inicio
                li
                  a(href='#step-3')
                    span.step_no 3
                    span.step_descr
                      | Paso 3
                      br
                      small Configuración de tabla de compromisos
                li
                  a(href='#step-4')
                    span.step_no 4
                    span.step_descr
                      | Paso 4
                      br
                      small Configuración de tabla de monitoreo
              #step-1(style='height:107px')
                form.form-horizontal.form-label-left
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12(for='first-name')
                      | Razón Social 
                    .col-md-6.col-sm-6.col-xs-12
                      input#first-name.form-control.col-md-7.col-xs-12(type='text', required='required')
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12(for='last-name')
                      | Unidad 
                    .col-md-6.col-sm-6.col-xs-12
                      input#last-name.form-control.col-md-7.col-xs-12(type='text', name='last-name', required='required')
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12(for='middle-name') Proyecto u Operación
                    .col-md-6.col-sm-6.col-xs-12
                      input#middle-name.form-control.col-md-7.col-xs-12(type='text', name='middle-name')
              #step-2
                center
                  table#datatable-responsive.table.dt-responsive.nowrap(cellspacing='0', width='80%')
                    tr
                      td(width='40%')
                        label(for='total') Total Compromisos
                      td(width='10%')
                        input#total(type='checkbox', value='total', name='dashboard')
                      td(width='40%') 
                        label(for='incumplidos') Compromisos incumplidos con un plan de acción
                      td(width='10%')
                        input#incumplidos(type='checkbox', value='incumplidos', name='dashboard')
                    tr
                      td(width='40%')
                        label(for='accion') Compromisos que requieren acción
                      td(width='10%')
                        input#accion(type='checkbox', value='accion', name='dashboard')
                      td(width='40%') 
                        label(for='sinaccion') Compromisos sin un plan de acción
                      td(width='10%')
                        input#sinaccion(type='checkbox', value='sinaccion', name='dashboard')
              #step-3
                center
                  table#datatable-responsive.table.dt-responsive.nowrap(cellspacing='0', width='80%')
                    tr
                      td(width='40%')
                        label(for='global') Código global
                      td(width='10%')
                        input#global(type='checkbox', value='global', name='compromisos')
                      td(width='40%') 
                        label(for='asociado') Aspecto asociado
                      td(width='10%')
                        input#asociado(type='checkbox', value='asociado', name='compromisos')
                    tr
                      td(width='40%')
                        label(for='unidad') Unidad
                      td(width='10%')
                        input#unidad(type='checkbox', value='unidad', name='compromisos')
                      td(width='40%') 
                        label(for='instcomp') Instalación/componente
                      td(width='10%')
                        input#instcomp(type='checkbox', value='instcomp', name='compromisos')
              #step-4
                center
                  table#datatable-responsive.table.dt-responsive.nowrap(cellspacing='0', width='80%')
                    tr
                      td(width='40%')
                        label(for='global') Código global
                      td(width='10%')
                        input#global(type='checkbox', value='global', name='tablamonitoreo')
                      td(width='40%') 
                        label(for='temporalidad') Temporalidad
                      td(width='10%')
                        input#temporalidad(type='checkbox', value='temporalidad', name='tablamonitoreo')
                    tr
                      td(width='40%')
                        label(for='unidad') Unidad
                      td(width='10%')
                        input#unidad(type='checkbox', value='unidad', name='tablamonitoreo')
                      td(width='40%') 
                        label(for='frecmonitoreo') Frecuencia de monitoreo
                      td(width='10%')
                        input#frecmonitoreo(type='checkbox', value='frecmonitoreo', name='tablamonitoreo')
            // End SmartWizard Content 
    // jQuery
    script(src='/jquery/dist/jquery.min.js')
    // Bootstrap
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    // NProgress
    script(src='/nprogress/nprogress.js')
    script(src='../moment/min/moment.min.js')
    script(src='../bootstrap-progressbar/bootstrap-progressbar.min.js')
    // FastClick
    script(src='/fastclick/lib/fastclick.js')
    // jQuery Smart Wizard
    script(src='../jQuery-Smart-Wizard/js/jquery.smartWizard.js')    
    // Custom Theme Scripts
    script(src='/build/js/custom.min.js')
    script(src='../iCheck/icheck.min.js')
    script.
      $(document).ready(function(){
        //$('#config_init').modal('show');
        //$("button").click(function() {
          //var compromisos = [];
          //$.each($("input[name='compromisos']:checked"), function() {
            //favorite.push($(this).val());
          //});
        $('#config_init').modal('show').on('shown.bs.modal', function() {
        });
        });//$('#wizard').smartWizard();
      //});
      var logout = function() {
        $('#confirm_logout').modal('show');
      }
      var finishWizard = function(){
        $('#config_init').modal('hide');
      }